
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>homePage</title>
</head>
<body>
    <div ><a href="add/7/5">Addition</a> 
    </div>
    <div>
        <a href="subtract/7/5">Subtraction</a>
    </div>
    <div>
        <a href="multiply/7/5">Multiplication</a>
    </div>
    <div>
        <a href="divide/7/5">Division</a>
    </div>
</body>
</html>
