
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>showForm</title>
</head>
<body>
        <form action="ProcessForm">
            Name: <input type="text" name="N" />
            <br />
            RegNo: <input type="text" name="R"/>
            <br />
            Marks: <input type="text" name="M" />
            <br /><br />
            <input type="submit" value="OK" />
        </form>
    
</body>
</html>
