
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Process</title>
</head>
<body>
    <div> 
        Your name is @ViewData["name"] . <br />
        Your registration number is @ViewData["Regno"] . <br />
        Your marks are @ViewData["marks"]. <br />
    </div>
</body>
</html>
