
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>earth</title>
</head>
<body>
    <div>
        @ViewData["greet"] @ViewData["FRIEND"]
    </div>
</body>
</html>
