
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tester</title>
</head>
<body>
    <div> 
        <input type="button" value="don't click me please'" onclick=""/>
    </div>
</body>
</html>
