
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>form1</title>
</head>
<body>
    <form action="ProcessMethod" method="post">
        Name : <input type="text" name="Name" /> <br />
        Regno: <input type="text" name="Regno" /> <br />
        Marks: <input type="text" name="Marks" /> <br />
        <input type="submit" />
    </form>
</body>
</html>
