@model Records2.Models.Class1

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>results</title>
</head>
<body>
    marks: @Model.Marks, name: @Model.Name, reg: @Model.Regno
    
</body>
</html>
