
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>storenumber</title>
</head>
<body>
 <!--   Your chosen number is @ViewData["first"] . Please choose a second number to add: <br />
    @{ 
        for (int i=1; i<=100; i++)
        {
            <a href="/result/@ViewData["first"]/@i">@i</a>
            <br />
        }
    }-->
</body>
</html>
