
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>result</title>
</head>
<body>
    <div> The operation is @ViewData["operation"] and the result is @ViewData["result"] . 
    </div>
    
</body>
</html>
